[Unit]
Description=EShell daemon.
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/eshell -D

[Install]
WantedBy=multi-user.target
